<!-- Componente 1 -->

<div class="wrapper">
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
</div>

<!-- Componente 2 -->

<div class="content">
  <img src="../assets/istockphoto-878377556-612x612.jpg" alt="KodFun">
</div>
<!-- Componente 3 -->

<div class="content">
  <div class="limite-campo"> Seja Bem vindo ao canal do Nelson Cassemiro</div>
</div>
<!-- Componente 4 -->

<div class="content">
  <div class="botao">
    <button class="btn">
      Dev Net Core
    </button>
  </div>
</div>

<!-- Componente 5 -->

<div class="content">
  <div class="cards">
    <div class="card red">
      <p class="tip">Hove me</p>
    </div>
    <div class="card blue">
      <p class="tip">Hove me</p>
    </div>
    <div class="card green">
      <p class="tip">Hove me</p>
    </div>
  </div>
</div>
